.nav {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    display: flex;
    transition: background-color .75s, opacity 1s;
}

.nav__container {
}

.nav--false {
    background-color: transparent;
    visibility: hidden;
}

.nav--true {
    padding-top: 20rem;
    background-color: var(--grey-100);
    visibility: visible;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav__toggle {
    height: 20px;
    width: 25px;
    background-color: transparent;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    outline: none;
    border: none;
    cursor: pointer;
}

.nav__toggle__line {
    height: 2px;
    width: 100%;
    display: flex;
    transform-origin: left center;
    transition: transform 1s;
}

.nav__toggle__line_upper--closed {
    background-color: var(--grey-100);
}

.nav__toggle__line_upper--open {
    background-color: white;
    transform: rotate(45deg);
}

.nav__toggle__line_lower--closed {
    background-color: var(--grey-100);
}

.nav__toggle__line_lower--open {
    background-color: white;
    transform: rotate(-45deg);
}