.hero__container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #ffdcb5;
}

.link__container {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.65);
}

.link {
    text-decoration: underline;
    text-underline-offset: 8px;
    color: rgba(0, 0, 0, 0.4);
    text-decoration-color: rgba(0, 0, 0, 0.2);
    transition: .5s;
    cursor: pointer;
}

.link:hover {
    color: rgba(0, 0, 0, 0.65);
    text-decoration-color: rgba(0, 0, 0, 0.65);
}

.halo {
    z-index: 0;
    position: absolute;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
    height: 120vw;
    width: 120vw;
}

.a {
    background-image: radial-gradient(41.33% 41.33%, rgba(159, 63, 208, 0.3) 0px, rgba(255, 249, 243, 0) 100%);
    top: -40vw;
    right: -40vw;
    animation-name: down-left;
}

.b {
    background-image: radial-gradient(41.33% 41.33%, rgba(255, 175, 95, 0.5) 0px, rgba(255, 249, 243, 0) 100%);
    top: 10vw;
    right: -20vw;
    animation-name: up-left;
}

.c {
    background-image: radial-gradient(41.33% 41.33%, rgba(255, 127, 177, 0.5) 0px, rgba(255, 249, 243, 0) 100%);
    top: 10vw;
    left: -40vw;
    animation-name: up-right;
}

@keyframes down-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        -webkit-transform: translate(-20%, 20%);
        transform: translate(-20%, 20%)
    }
}

@keyframes up-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        -webkit-transform: translate(30%, 20%);
        transform: translate(30%, 20%)
    }
}

@keyframes up-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        -webkit-transform: translate(20%, -20%);
        transform: translate(20%, -20%)
    }
}

@keyframes Halo {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        -webkit-transform: translate(-40%, 20%);
        transform: translate(-40%, 20%)
    }
}