.container {
    border: 2px solid rgba(255, 255, 255, 0.8);
    background: transparent;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.searchicon {
    fill: #c8c8c8;
}

.input {
    height: 100%;
    -webkit-appearance: none;
    outline: none;
    border: none;
    background: transparent;
    font-size: 18px;
    color: white;
    width: 100px;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}