:root {
  --blue: #1d53b7;
  --green: #137333;
  --black: #000000;
  --grey-100: #161616;
  --grey-90: #262626;
  --grey-80: #393939;
  --grey-70: #525252;
  --grey-60: #6f6f6f;
  --grey-50: #8d8d8d;
  --grey-40: #a8a8a8;
  --grey-30: #c6c6c6;
  --grey-20: #e0e0e0;
  --grey-10: #f4f4f4;
  --white: #ffffff;
  --spacing-01: 2px;
  --spacing-02: 4px;
  --spacing-03: 8px;
  --spacing-04: 12px;
  --spacing-05: 16px;
  --spacing-06: 24px;
  --spacing-07: 32px;
  --spacing-08: 40px;
  --spacing-09: 48px;
  --layout-01: 16px;
  --layout-02: 24px;
  --layout-03: 32px;
  --layout-04: 48px;
  --layout-05: 64px;
  --layout-06: 96px;
  --layout-07: 160px;
  --break-s: 320px;
  --break-m: 680px;
  /*12 rows à 64px with gutter of 24px and a margin of 24px*/
  --break-l: 1080px;
  --break-xl: 1312px;
  --break-max: 1584px;
  --col-3: 240px;
  --col-4: 328px;
  --col-5: 416px;
  --col-6: 504px;
  --col-7: 592px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 5;
  justify-content: center;
}

header.white {
  border-bottom: 2px solid var(--grey-10);
}

.logo__container {
  font-weight: 700;
  padding: 0 24px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

header.white .logo__container {
  background-color: black;
  color: white;
}

header.white .logo__container a {
  color: white;
}

header.black nav a {
  color: white;
}

header.black .logo__container {
  background-color: white;
}

header a {
  display: inherit;
  align-items: inherit;
}

.ul--no-styles {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.ul--text {
  /*list-style-position: outside;*/
  /*margin: 0 16px 0 18px;*/
  padding: 0 0 0 24px;
}

.ul--text li {
  list-style-type: disc;
  padding: 16px 0 0 16px;
}

.ul--text li:first-of-type {
  padding-top: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
  color: black;
}

.a--internal {
  color: inherit;
  border-bottom: 1px solid var(--grey-30);
  padding-bottom: var(--spacing-01);
  display: inline-block;
}

hr {
  display: block;
  height: 2px;
  width: 100%;
  border-width: 0;
}

.hover--opacity:hover {
  opacity: .6;
}

.hover--pointer:hover {
  cursor: pointer;
}

.opacity--light {
  opacity: .8;
}

.bx--grid {
  width: 100%;
  max-width: var(--break-l);
  padding: 0 var(--layout-02) 0 var(--layout-02);
}

/* TYPEOGRAPHY */
.text-length--01 {
  max-width: 288px;
}

.text-length--02 {
  max-width: 600px;
}

h1 {
  margin: 0;
}

h3 {
  font-weight: normal;
}

.body--01 {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0;
}

/* default */
.body--02 {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0;
}

.heading--01 {
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0;
}

.heading--02 {
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0;
}

.heading--03 {
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: 23px;
  letter-spacing: 0;
}

.expressive-heading-04 {
  font-size: 28px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 36px;
  letter-spacing: 0;
}

.expressive-heading-05 {
  font-size: 42px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 50px;
  letter-spacing: 0;
}

.display-01 {
  font-size: 54px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 64px;
  letter-spacing: 0;
}

.font-weight--500 {
  font-weight: 500;
}

.font-weight--700 {
  font-weight: 700;
}

.font-family--serif {
  font-family: 'Roboto', sans-serif;
}

.text-align--center {
  text-align: center;
}

/* COLOR */
.color--white {
  color: var(--white);
}

.color--green {
  color: var(--green);
}

.color--grey-60 {
  color: var(--grey-60);
}

.color--grey-70 {
  color: var(--grey-70);
}

.background-color--white {
  background-color: white;
}

.background-color--grey-10 {
  background-color: var(--grey-10);
}

.background-color--grey-80 {
  background-color: var(--grey-80);
}

.background-color--grey-90 {
  background-color: var(--grey-90);
}

.background-color--grey-100 {
  background-color: var(--grey-100);
}

.background-color--black {
  background-color: black;
}

.fill--white g polygon {
  fill: var(--white) !important;
}

.fill--grey-50 g polygon {
  fill: var(--grey-50) !important;
}

/* SPACING */
.margin--left--spacing-02 {
  margin-left: var(--spacing-02);
}

/* 8px */
.margin--top--spacing-03 {
  margin-top: var(--spacing-03);
}

/* 12px */
.padding--spacing-04 {
  padding: var(--spacing-04);
}
.margin--top--spacing-04 {
  margin-top: var(--spacing-04);
}

.margin--left--spacing-04 {
  margin-left: var(--spacing-04);
}

/* 16px */
.margin--top--spacing-05 {
  margin-top: var(--spacing-05);
}

/* 24px */
.margin--top--spacing-06 {
  margin-top: var(--spacing-06);
}


/* 32px */
.margin--top--spacing-07 {
  margin-top: var(--spacing-07);
}

.margin--top--layout-02 {
  margin-top: var(--layout-02);
}

.margin--left--layout-02 {
  margin-left: var(--layout-02);
}

/* 32px */
.margin--top--layout-03 {
  margin-top: var(--layout-03);
}

/* 48px */
.margin--top--layout-04 {
  margin-top: var(--layout-04);
}

.margin--left--layout-04 {
  margin-left: var(--layout-04);
}

/* 64px */
.margin--top--layout-05 {
  margin-top: var(--layout-05);
}

.margin--right--layout-05 {
  margin-right: var(--layout-05);
}

.margin--bottom--layout-05 {
  margin-bottom: var(--layout-05);
}

.margin--left--layout-05 {
  margin-left: var(--layout-05);
}

.margin--top--layout-06 {
  margin-top: var(--layout-06);
}

.padding--top--layout-05 {
  padding-top: var(--layout-05);
}

.padding--right--layout-05 {
  padding-right: var(--layout-05);
}

.padding--bottom--layout-05 {
  padding-bottom: var(--layout-05);
}

.padding--left--layout-05 {
  padding-left: var(--layout-05);
}

.margin--bottom--layout-06 {
  margin-bottom: var(--layout-06);
}

.margin--top--layout-07 {
  margin-top: var(--layout-07);
}
/* padding equivalent to the header size*/
.padding--top--header {
  padding-top: 80px;
}

.line-height--zero {
  line-height: 0
}

.display--inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-wrap--wrap {
  flex-wrap: wrap;
}

.flex-direction--row {
  flex-direction: row;
}

.flex-direction--column {
  flex-direction: column;
}

.flex--justify-content--center {
  display: flex;
  justify-content: center;
}

.flex--justify-content--space-between {
  justify-content: space-between;
}

.flex--align-items--center {
  display: flex;
  align-items: center;
}

.flex--align-items--flex-end {
  align-items: flex-end;
}

.section--alternative {
  padding-top: var(--layout-05);
  padding-bottom: var(--layout-05);
}

.icon--small {
  width: 16px;
  height: 16px;
}

.icon--medium {
  width: 20px;
  height: 20px;
}

.text--icon {
  display: flex;
  align-items: center;
}

.button--text {
  color: var(--grey-50);
  display: flex;
  align-items: center;
}

.button--text p {
  margin-right: 0;
  transition: margin-right .5s;
}

.button--text:hover p {
  margin-right: 8px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card img {
  width: 256px;
  height: 256px;
}

.card__content {
  margin-top: var(--layout-03);
}

.testimonial__quote {
  text-indent: -0.4125em;
}

.testimonial__quote::before {
  content: '\201C';
}

.col-3 {
  width: 100%;
  max-width: var(--col-3);
}

.col-4 {
  width: 100%;
  max-width: var(--col-4);
}

.col-5 {
  width: 100%;
  max-width: var(--col-5);
}

.col-6 {
  width: 100%;
  max-width: var(--col-6);
}

.col-7 {
  width: 100%;
  max-width: var(--col-7);
}

.column--4--2 {
  margin-right: var(--layout-02);
  margin-top: var(--layout-02);
}

.column--4--2:last-of-type {
  margin-right: 0;
}

.in-view {
  transform: translateY(150px);
  opacity: 0;
  animation: come-in 0.8s ease forwards;
}

.already-visible {
  transform: translateY(0);
  opacity: 1;
  animation: none;
}

@keyframes come-in {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*break-m / 8 columns*/
@media only screen and (max-width: 728px) {
  .bx--grid {
    padding: 0 var(--layout-01) 0 var(--layout-01);
  }

  body {
    font-size: 16px;
  }

  .expressive-heading-04 {
    font-size: 28px;
    line-height: 36px;
  }

  .expressive-heading-05 {
    font-size: 36px;
    line-height: 44px;
  }

  .display-01 {
    font-size: 42px;
    line-height: 50px;
  }

  .column--4--2 {
    margin-right: 0;
  }
}

/*break-s*/
@media only screen and (max-width: 320px) {
  .expressive-heading-05 {
    font-size: 32px;
    line-height: 40px;
  }
}


canvas{
  display: block;
  overflow: hidden;
}

