:root {
  --font-family: 'DM Sans', sans-serif;
  --blue: rgba(66, 133, 244);
  --signature-color: #4285f4;
  --green: #137333;
  --violet: #7B61FF;
  --black: #000000;
  --grey-100: #191918FF;
  --grey-90: #30302F;
  --grey-80: #474746;
  --grey-70: #5E5E5D;
  --grey-60: #757574;
  --grey-50: #8C8C8B;
  --grey-40: #A3A3A2;
  --grey-30: #BABAB9;
  --grey-20: #E6E2DF;
  --grey-10: #F3EFEC;
  --white: #fff9f3;
  --animation-short: 0.5s;
  --spacing-01: 2px;
  --spacing-02: 4px;
  --spacing-03: 8px;
  --spacing-04: 12px;
  --spacing-05: 16px;
  --spacing-06: 24px;
  --spacing-07: 32px;
  --spacing-08: 40px;
  --spacing-09: 48px;
  --layout-01: 16px;
  --layout-02: 24px;
  --layout-03: 32px;
  --layout-04: 48px;
  --layout-05: 64px;
  --layout-06: 96px;
  --layout-07: 160px;
  --break-s: 320px;
  --break-m: 672px;
  /* 16 columns à 64px with gutter of 16px and a margin of 16px */
  --break-l: 1080px;
  --break-xl: 1312px;
  --break-max: 1584px;
  --col-3: 240px;
  --col-4: 328px;
  --col-5: 416px;
  --col-6: 504px;
  --col-7: 592px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html, button {
  font-family: var(--font-family);
}

body {
  margin: 0;
  color: var(--grey-100);
  font-size: 16px;
  letter-spacing: 0;
  background-color: var(--white);
}

header {
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 5;
  justify-content: center;
}

.input {
  width: 100%;
  font-size: 2.1rem;
  border: 2px solid black;
  border-radius: 0;
  padding: 16px 16px;
  background-image:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  transition: border 250ms;
}

.input:focus {
  border: 2px solid var(--blue);
  outline: none;
}

.logo__container {
  font-weight: 700;
  padding: 0 24px;
  height: 109px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
}

.logo__container a {
  font-size: 16px;
}

/*
header .logo__container {
  background-color: black;
  color: white;
}

header .logo__container a {
  color: white;
}
 */

.nav__closed {
  position: absolute;
  background-color: transparent;
  /*border-bottom: 2px solid var(--grey-10);*/
}

.nav__closed .logo__container {
  background-color: black;
}

.nav__closed .logo__container a {
  color: white;
}

.nav__open {
  position: fixed;
}

.nav__open .logo__container {
  background-color: white;
  color: black;
}

/*
header.black nav a {
  color: white;
}

header.black .logo__container {
  background-color: white;
  color: black;
}

header.black .logo__container a {
  color: black;
}
 */

header a {
  display: inherit;
  align-items: inherit;
}

.ul--no-styles {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.ul--text {
  /*list-style-position: outside;*/
  /*margin: 0 16px 0 18px;*/
  padding: 0 0 0 24px;
}

.ul--text li {
  list-style-type: disc;
  padding: 16px 0 0 16px;
}

.ul--text li:first-of-type {
  padding-top: 0;
}

hr {
  display: block;
  height: 2px;
  width: 100%;
  /* border-width: 0; */
  border-style: solid;
}

.hover--opacity:hover {
  opacity: .6;
}

.hover--pointer:hover {
  cursor: pointer;
}

.opacity--light {
  opacity: .8;
}

.bx--grid {
  width: 100%;
  max-width: var(--break-l);
  padding: 0 var(--layout-02) 0 var(--layout-02);
}

/* TYPOGRAPHY */
h1 {
  font-weight: normal;
  font-size: 4.2rem;
  margin: 0;
}

h2 {
  font-size: 3.65631rem;
  font-weight: normal;
  margin: 0;
}

h3 {
  font-size: 3.183rem;
  margin: 0;
  font-weight: normal;
}

h4 {
  font-size: 2.77097rem;
  margin: 0;
  font-weight: normal;
}

h5 {
  font-size: 2.41227rem;
  margin: 0;
}

p {
  font-size: 2.1rem;
  margin: 0;
}

blockquote {
  color: var(--grey-60);
  border-left: 2px solid var(--grey-30);
  padding-left: var(--layout-02);
  margin-top: var(--layout-02);
  margin-inline-start: 0 !important;
}

.body-text {
  line-height: 3.5rem; /* (1 + 2/3) * font-size */
  color: var(--grey-80);
}

.minion {
  font-size: 1.82816rem;
}

.minion--long {
  line-height: 3.047rem;
}

.minion--small {
  font-size: 1.515rem;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
  font-size: 2.1rem;
}

.a--internal {
  display: inline-block;
  cursor: pointer;
  color: var(--blue);
  transition: text-decoration 0.5s;
}

.a--internal--body-text {
  display: inline-block;
  text-decoration-style: solid;
  text-decoration-color: rgba(66, 133, 244, 0.3);
  color: var(--blue);
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.4rem;
  transition: text-decoration var(--animation-short);
}

.a--internal--body-text:hover {
  text-decoration-color: rgba(66, 133, 244, 0.65);
}

.a--internal:hover, .a--internal--body-text:hover {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

.text-length--01 {
  max-width: 288px;
}

.text-length--02 {
  max-width: 600px;
}

.body--01 {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0;
}

/* default */
.body--02 {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0;
}

.heading--01 {
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0;
}

.heading--02 {
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0;
}

.heading--03 {
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: 23px;
  letter-spacing: 0;
}

.expressive-heading-04 {
  font-size: 28px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 36px;
  letter-spacing: 0;
}

.expressive-heading-05 {
  font-size: 42px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 50px;
  letter-spacing: 0;
}

.display-01 {
  font-size: 54px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 64px;
  letter-spacing: 0;
}

.font-weight--500 {
  font-weight: 500;
}

.font-weight--700 {
  font-weight: 700;
}

.font-family--serif {
  font-family: 'Roboto', sans-serif;
}

.roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

.capitalize {
  text-transform: uppercase;
}

.text-align--center {
  text-align: center;
}

/* COLOR */
.color--white {
  color: var(--white);
}

.color--blue {
  color: var(--blue);
}

.color--green {
  color: var(--green);
}

.border-color--grey-20 {
  border-color: var(--grey-20);
}

.color--grey-40 {
  color: var(--grey-40);
}

.color--grey-50 {
  color: var(--grey-50);
}

.color--grey-60 {
  color: var(--grey-60);
}

.color--grey-70 {
  color: var(--grey-70);
}

.color--grey-80 {
  color: var(--grey-80);
}

.color--grey-90 {
  color: var(--grey-90);
}

.background-color--white {
  background-color: white;
}

.background-color--grey-10 {
  background-color: var(--grey-10);
}

.background-color--grey-80 {
  background-color: var(--grey-80);
}

.background-color--grey-90 {
  background-color: var(--grey-90);
}

.background-color--grey-100 {
  background-color: var(--grey-100);
}

.background-color--black {
  background-color: black;
}

.fill--white g polygon {
  fill: var(--white) !important;
}

.fill--grey-50 g polygon {
  fill: var(--grey-50) !important;
}

/* SPACING */
.margin--left--spacing-02 {
  margin-left: var(--spacing-02);
}

/* 8px */
.margin--top--spacing-03 {
  margin-top: var(--spacing-03);
}

.margin--left--spacing-03 {
  margin-left: var(--spacing-03);
}

.padding--left--spacing-03 {
  padding-left: var(--spacing-03);
}

/* 12px */
.padding--spacing-04 {
  padding: var(--spacing-04);
}
.margin--top--spacing-04 {
  margin-top: var(--spacing-04);
}

.margin--left--spacing-04 {
  margin-left: var(--spacing-04);
}

/* 16px */
.margin--top--spacing-05 {
  margin-top: var(--spacing-05);
}

.margin--left--spacing-05 {
  margin-left: var(--spacing-05);
}

/* 24px */
.margin--top--spacing-06 {
  margin-top: var(--spacing-06);
}

.margin--left--spacing-06 {
  margin-left: var(--spacing-06);
}


/* 32px */
.margin--top--spacing-07 {
  margin-top: var(--spacing-07);
}

.margin--right--spacing-07 {
  margin-right: var(--spacing-07);
}

.margin--top--layout-01 {
  margin-top: var(--layout-01);
}

.margin--top--layout-02 {
  margin-top: var(--layout-02);
}

.margin--left--layout-02 {
  margin-left: var(--layout-02);
}

/* 32px */
.margin--top--layout-03 {
  margin-top: var(--layout-03);
}

/* 48px */
.margin--top--layout-04 {
  margin-top: var(--layout-04);
}

.margin--left--layout-04 {
  margin-left: var(--layout-04);
}

/* 64px */
.margin--top--layout-05 {
  margin-top: var(--layout-05);
}

.margin--right--layout-05 {
  margin-right: var(--layout-05);
}

.margin--bottom--layout-05 {
  margin-bottom: var(--layout-05);
}

.margin--left--layout-05 {
  margin-left: var(--layout-05);
}

.margin--top--layout-06 {
  margin-top: var(--layout-06);
}

.padding--top--layout-05 {
  padding-top: var(--layout-05);
}

.padding--right--layout-05 {
  padding-right: var(--layout-05);
}

.padding--bottom--layout-05 {
  padding-bottom: var(--layout-05);
}

.padding--left--layout-05 {
  padding-left: var(--layout-05);
}

.margin--bottom--layout-06 {
  margin-bottom: var(--layout-06);
}

.margin--top--layout-07 {
  margin-top: var(--layout-07);
}
/* padding equivalent to the header size*/
.padding--top--header {
  padding-top: 109px !important;
}

.line-height--zero {
  line-height: 0
}

.display--inline-block {
  display: inline-block;
}

.display--block {
  display: block;
}

.flex {
  display: flex;
}

.flex-wrap--wrap {
  flex-wrap: wrap;
}

.flex-direction--row {
  flex-direction: row;
}

.flex-direction--column {
  flex-direction: column;
}

.flex--justify-content--center {
  display: flex;
  justify-content: center;
}

.flex--justify-content--space-between {
  justify-content: space-between;
}

.flex--justify-items--center {
  justify-items: center;
}

.flex--align-items--center {
  display: flex;
  align-items: center;
}

.flex--align-items--flex-end {
  align-items: flex-end;
}

.width--100 {
  width: 100%;
}

.section--alternative {
  padding-top: var(--layout-05);
  padding-bottom: var(--layout-05);
}

.icon--small {
  width: 16px;
  height: 16px;
}

.icon--medium {
  width: 20px;
  height: 20px;
}

.text--icon {
  display: flex;
  align-items: center;
}

.label {
  font-size: 1.82816rem;
  display: block;
}

.button {
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

.button--filled {
  padding: 16px 24px;
  display: inline-flex;
  justify-content: center;
}

.button--filled p {
  line-height: 2.4rem;
}

.button--filled--grey-80 {
  border: 2px solid var(--grey-80);
  background-color: var(--grey-80);
}

.button--filled--blue {
  border: 2px solid var(--blue);
  background-color: var(--blue);
}

.button--border--white * {
  display: inline-flex;
}

.button--border--white {
  border: 2px solid white;
  padding: 16px 24px;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.button--border--white * {
  display: inline-flex;
}

.button--text {
  color: var(--grey-50);
  display: flex;
  align-items: center;
}

.button--text p {
  margin-right: 0;
  transition: margin-right .5s;
}

.button--text:hover p {
  margin-right: 8px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card img {
  width: 256px;
  height: 256px;
}

.card__content {
  margin-top: var(--layout-03);
}

.testimonial__quote {
  text-indent: -0.4125em;
}

.testimonial__quote::before {
  content: '\201C';
}

.col-3 {
  width: 100%;
  max-width: var(--col-3);
}

.col-4 {
  width: 100%;
  max-width: var(--col-4);
}

.col-5 {
  width: 100%;
  max-width: var(--col-5);
}

.col-6 {
  width: 100%;
  max-width: var(--col-6);
}

.col-7 {
  width: 100%;
  max-width: var(--col-7);
}

.column--4--2 {
  margin-right: var(--layout-02);
  margin-top: var(--layout-02);
}

.column--4--2:last-of-type {
  margin-right: 0;
}

.in-view {
  transform: translateY(150px);
  opacity: 0;
  animation: come-in 0.8s ease forwards;
}

.already-visible {
  transform: translateY(0);
  opacity: 1;
  animation: none;
}

@keyframes come-in {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*break-m / 8 columns*/
@media only screen and (max-width: 728px) {
  .bx--grid {
    padding: 0 var(--layout-01) 0 var(--layout-01);
  }

  body {
    font-size: 16px;
  }

  .expressive-heading-04 {
    font-size: 28px;
    line-height: 36px;
  }

  .expressive-heading-05 {
    font-size: 36px;
    line-height: 44px;
  }

  .display-01 {
    font-size: 42px;
    line-height: 50px;
  }

  .column--4--2 {
    margin-right: 0;
  }
}

canvas{
  display: block;
  overflow: hidden;
}

/* break-m */
@media only screen and (max-width: 672px) {
  :root {
    /*
    --spacing-01: 2px;
    --spacing-02: 4px;
    --spacing-03: 8px;
    --spacing-04: 12px;
    --spacing-05: 16px;
    --spacing-06: 24px;
    --spacing-07: 32px;
    --spacing-08: 40px;
    --spacing-09: 48px;*/
    --layout-01: 12px;
    --layout-02: 16px;
    --layout-03: 24px;
    --layout-04: 32px;
    --layout-05: 48px;
    --layout-06: 64px;
    --layout-07: 96px;
  }
  .expressive-heading-05 {
    font-size: 36px;
    line-height: 44px;
  }

  .display-01 {
    font-size: 42px;
    line-height: 50px;
  }
}

/*break-s*/
@media only screen and (max-width: 320px) {
  .expressive-heading-05 {
    font-size: 32px;
    line-height: 40px;
  }
}
